---
title: "Data Cleaning"
format: html
execute:
    echo: true
link-external-newwindow: true
bibliography: reference.bib
website:
  back-to-top-navigation: true
---

## Introduction
In the world of data science, 'Data Cleaning' is the unsung hero of the data journey. It's the process where the raw data, often messy and imperfect, transforms into a reliable and trustworthy foundation for analysis. Data cleaning involves identifying and rectifying inconsistencies, errors, and missing values within datasets. Without this critical step, the insights drawn from data can be inaccurate, leading to misguided decisions. I understand the significance of data cleaning in ensuring the integrity and reliability of datasets, and I apply meticulous attention to detail to uncover hidden patterns and meaningful insights buried within the data. I will walk through the pre-processing steps I took for the data mentioned in the [Data Gathering](https://patricia-schenfeld.georgetown.domains/dsan-website/5000-website/_site/data_gathering.html) tab. 

## News API

### Raw Data
I requested data from the News API using Python to request English articles that relate to Spotify. The response data was collected to a JSON file for further analysis and processing. Below is a screenshot of what the raw data looks like. You can see it contains each article along with its attributes such as author, title, description, etc. For access to the raw data, click [here.](https://github.com/anly501/dsan-5000-project-pschenfeld/blob/main/data/raw_data/news_api/2023-09-28-H18-M42-S20-newapi-raw-data.json)

![](images/news_api_raw.png)

### Cleaning the Data
I defined a function, 'string_cleaner' that takes an input string, applies a series of cleaning operations to remove unwanted characters, punctuation, and extra spaces, and then converts the text to lowercase. This function is useful for preparing text data for analysis or natural language processing tasks by ensuring that the text is standardized and cleaned of noise. Below is a screenshot of what the Spotify article text looks like after cleaning. For access to the clean data file, click [here.](https://github.com/anly501/dsan-5000-project-pschenfeld/blob/main/data/clean_data/news_api/news_api_clean.csv)

![](images/spotify_news_api_clean)

## Electronic Dance Music Subgenres

### Raw Data
Each genre has a separate table containing 10 of the most popular DJs for that genre, along with those artists' audio features. These features include danceability, energy, key, loudness, etc. I used the Spotify API in R in order to create this dataset. For access to the raw data files, click [here](https://github.com/anly501/dsan-5000-project-pschenfeld/tree/main/data/raw_data/edm_subgenres).

![](images/tech_house_raw.png)

### Cleaning the Data
I performed the same cleaning steps across all 5 subgenre datasets. I first took note of the shape of each dataset, which can be seen below.

In [80]:
import pandas as pd

trance = pd.read_csv('../../data/raw_data/edm_subgenres/trance_audio_features.csv')
techno = pd.read_csv('../../data/raw_data/edm_subgenres/techno_audio_features_raw.csv')
tech_house = pd.read_csv('../../data/raw_data/edm_subgenres/tech_house_audio_features_raw.csv')
dnb = pd.read_csv('../../data/raw_data/edm_subgenres/dnb_audio_features_raw.csv')
dubstep = pd.read_csv('../../data/raw_data/edm_subgenres/dubstep_audio_features_raw.csv')

trance.shape

(4367, 15)

In [81]:
techno.shape

(4234, 14)

In [74]:
tech_house.shape

(4362, 14)

In [75]:
dnb.shape

(3858, 14)

In [76]:
dubstep.shape

(3790, 14)



Luckily, for all of the datasets, the datatypes were proper and the column names were sufficient. There were no missing values in trance, techno, tech_house, or dnb datasets. However, in the dubstep dataframe, there were a handful of missing values which I needed to further investigate. After looking at the total null values for each column, I then filtered the dataframe to show only rows with null values, this way I coud get a sense of what was missing.

In [77]:
dubstep.isnull().sum()

artist_name         0
danceability        4
energy              4
key                 4
loudness            4
mode                4
speechiness         4
acousticness        4
instrumentalness    4
liveness            4
valence             4
tempo               4
duration_ms         4
time_signature      4
dtype: int64

In [38]:
# Let's look at the missing values in the dataaet
null_data = dubstep[dubstep.isnull().any(axis=1)]
null_data

# It appears all missing values are only for the artist Excision.

,artist_name,danceability,energy,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,duration_ms,time_signature
10,Excision,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Excision,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,Excision,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,Excision,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN


I noticed that there were 4 rows in total that have complete null values for all columns (besides artist name). All 4 rows are for the artist Excision, so I further wanted to look at how many records there are for Excision as a whole, before I decided what to do with the missing values. I filtered the dataset to show only records for the artist Excision.

In [78]:
# Let's look at all rows for Excision
dubstep.loc[dubstep['artist_name'] == 'Excision']

# We have 116 rows for Excision, and 4 of those rows have all missing values. If we drop these 4 rows that would be 3.45% of Excision data, but only 
# .32% of the entire dataset. In this case, we can drop the rows as it does not pose the threat of losing a lot of data.

,artist_name,danceability,energy,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,duration_ms,time_signature
0,Excision,0.379,0.875,7.0,-2.201,0.0,0.0648,0.006250,0.00000,0.182,0.171,149.960,196233.0,4.0
1,Excision,0.576,0.981,10.0,0.381,0.0,0.6060,0.007790,0.06590,0.197,0.139,149.723,243200.0,4.0
2,Excision,0.295,0.967,2.0,-2.940,1.0,0.1740,0.000213,0.82100,0.705,0.148,149.776,203224.0,4.0
3,Excision,0.368,0.976,8.0,-0.904,1.0,0.1750,0.004530,0.24100,0.141,0.174,74.415,189342.0,4.0
4,Excision,0.319,0.983,1.0,-0.480,1.0,0.3800,0.007900,0.00144,0.100,0.280,75.373,228800.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112,Excision,0.875,0.438,11.0,-7.420,1.0,0.0769,0.000553,0.40900,0.102,0.545,139.959,308529.0,4.0
113,Excision,0.781,0.958,11.0,-9.255,0.0,0.0996,0.003450,0.81200,0.219,0.364,144.003,279200.0,4.0
114,Excision,0.763,0.987,0.0,-10.080,1.0,0.0607,0.001350,0.93900,0.187,0.714,139.997,344666.0,4.0
115,Excision,0.577,0.770,2.0,-7.818,1.0,0.0760,0.063000,0.90800,0.364,0.435,139.866,287997.0,4.0
116,Excision,0.534,0.840,7.0,-9.990,1.0,0.3440,0.004740,0.68900,0.182,0.293,134.455,399488.0,4.0



Based off of the output, there were 116 records for Excision, so if I decided to drop these 4 rows that would mean losing 3.45% of Excision data, or .32% of the total dataset. Based off of these numbers, I decided it was safe to drop these rows. The final shape of the dataset is shown below (1245 rows & 14 columns to begin, 1241 rows & 14 columns to end).

In [79]:
dubstep = dubstep.dropna()
dubstep.shape

(3786, 14)

I then combined all the genre datasets into one large dataset.



For all clean subgenre data files, click [here](https://github.com/anly501/dsan-5000-project-pschenfeld/tree/main/data/clean_data/edm_subgenres).

## Spotify Revenue, Expenses, & Premium Users

### Raw Data
This dataset was taken from [Kaggle](https://www.kaggle.com/datasets/mauryansshivam/spotify-revenue-expenses-and-its-premium-users/data) and contains data pertaining to each quarter of the year with total revenue, cost of revenue, premium revenue and more. Below is a screenshot of what the raw data looks like. Click [here](https://github.com/anly501/dsan-5000-project-pschenfeld/blob/main/data/raw_data/revenue_expenses_premium_users/spotify_quarterly.csv) for the raw data file.


### Cleaning the Data
After loading the csv file into Python, I checked the shape of the initial raw data, which was 26 rows and 17 columns. I then began by taking a look at the top (head) and bottom (tail) of the data. When looking at the bottom, I noticed that the last row had all missing (NaN) values except for one column. I kept this in mind for later when dealing with missing values.

In [54]:
import pandas as pd
df = pd.read_csv('../../data/raw_data/revenue_expenses_premium_users/spotify_quarterly.csv')
df.shape

(26, 17)

In [56]:
df.tail()

,Date,Total Revenue,Cost of Revenue,Gross Profit,Premium Revenue,Premium Cost Revenue,Premium Gross Profit,Ad Revenue,Ad Cost of revenue,Ad gross Profit,MAUs,Premium MAUs,Ad MAUs,Premium ARPU,Sales and Marketing Cost,Research and Development Cost,Genreal and Adminstraive Cost
21,31-12-2017,1449.0,867.0,582.0,1018.0,761.0,257.0,130.0,106.0,24.0,160.0,71.0,93.0,5.24,173.0,123.0,73.0
22,30-09-2017,1032.0,802.0,230.0,923.0,711.0,212.0,109.0,91.0,18.0,150.0,62.0,91.0,5.06,138.0,98.0,67.0
23,30-06-2017,1007.0,775.0,232.0,904.0,686.0,218.0,103.0,89.0,14.0,138.0,59.0,83.0,5.53,146.0,95.0,70.0
24,31-03-2017,902.0,797.0,105.0,828.0,710.0,118.0,74.0,87.0,-13.0,131.0,52.0,82.0,5.46,110.0,80.0,54.0
25,31-12-2016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.00,NaN,NaN,NaN

Next, I wanted to clean up the column names, so I removed any spaces and replaced them with underscores as well as made all column names lowercase.

In [57]:
# Let's change the column names to have no spaces and all lowercase
def add_underscores(df):
    df.columns = df.columns.str.replace(' ', '_')
    return df

df = add_underscores(df)
df.columns = df.columns.str.lower()
df.columns

Index(['date', 'total_revenue', 'cost_of_revenue', 'gross_profit',
       'premium_revenue', 'premium_cost_revenue', 'premium_gross_profit',
       'ad_revenue', 'ad_cost_of_revenue', 'ad_gross_profit', 'maus',
       'premium_maus', 'ad_maus', 'premium_arpu', 'sales_and_marketing_cost',
       'research_and_development_cost', 'genreal_and_adminstraive_cost'],
      dtype='object')

Then, I renamed any column names that had spelling mistakes.

In [58]:
# Now, lets fix any spelling mistakes in the column names
df = df.rename(columns={'genreal_and_adminstraive_cost': 'general_and_administrative_cost'}) 
df.columns

Index(['date', 'total_revenue', 'cost_of_revenue', 'gross_profit',
       'premium_revenue', 'premium_cost_revenue', 'premium_gross_profit',
       'ad_revenue', 'ad_cost_of_revenue', 'ad_gross_profit', 'maus',
       'premium_maus', 'ad_maus', 'premium_arpu', 'sales_and_marketing_cost',
       'research_and_development_cost', 'general_and_administrative_cost'],
      dtype='object')


I summed up all of the missing values in the dataset. I kept in mind from earlier that the bottom row of the dataset was missing all values except for one column. Looking at the sum of null values, I knew that this was the only row missing any values and therefore it could be removed from the dataframe.

In [59]:
df.isnull().sum()

date                               0
total_revenue                      1
cost_of_revenue                    1
gross_profit                       1
premium_revenue                    1
premium_cost_revenue               1
premium_gross_profit               1
ad_revenue                         1
ad_cost_of_revenue                 1
ad_gross_profit                    1
maus                               1
premium_maus                       1
ad_maus                            1
premium_arpu                       0
sales_and_marketing_cost           1
research_and_development_cost      1
general_and_administrative_cost    1
dtype: int64

In [61]:
df = df.dropna()
df.shape

(25, 17)


I saved the cleaned data to a csv, which you can find [here](https://github.com/anly501/dsan-5000-project-pschenfeld/blob/main/data/clean_data/revenue_costs_premium/revenue_costs_premium.csv).

## Spotify User Behavior

### Raw Data
This dataset encompasses a wide range of user information, including demographics like age and gender, as well as details related to Spotify usage, such as preferred listening devices and subscription plans. It also delves into user preferences, including favorite music genres and podcast habits, offering valuable insights into Spotify's user base and their behaviors. Below is a screenshot of the raw data. For access to the file, click [here](https://github.com/anly501/dsan-5000-project-pschenfeld/blob/main/data/raw_data/spotify_user_behavior/spotify_user_behavior.csv).

![](images/spotify_user_behavior_raw.png)

### Cleaning the Data
After loading the csv file into Python, I checked the shape of the initial raw data, which was 520 rows and 20 columns.

In [68]:
import pandas as pd
df = pd.read_csv('../../data/raw_data/spotify_user_behavior/spotify_user_behavior.csv', keep_default_na=False)
df.shape

(520, 20)


I then looked at the columns and made them all lowercase and fixed any spelling errors.

In [69]:
df.columns = df.columns.str.lower()
df = df.rename(columns={'preffered_premium_plan': 'preferred_premium_plan', 
'music_influencial_mood': 'music_influential_mood', 'music_recc_rating': 'music_rec_rating', 
'preffered_pod_format': 'preferred_pod_format', 'preffered_pod_duration': 'preferred_pod_duration'})
df.columns

Index(['age', 'gender', 'spotify_usage_period', 'spotify_listening_device',
       'spotify_subscription_plan', 'premium_sub_willingness',
       'preferred_premium_plan', 'preferred_listening_content',
       'fav_music_genre', 'music_time_slot', 'music_influential_mood',
       'music_lis_frequency', 'music_expl_method', 'music_rec_rating',
       'pod_lis_frequency', 'fav_pod_genre', 'preferred_pod_format',
       'pod_host_preference', 'preferred_pod_duration',
       'pod_variety_satisfaction'],
      dtype='object')


I finally checked the data types of the columns to make sure they were all the correct type, as well as checked for any missing values in the dataset. Luckily, no data types needed to be changed and there were no missing values.

In [65]:
df.dtypes

age                            object
gender                         object
spotify_usage_period           object
spotify_listening_device       object
spotify_subscription_plan      object
premium_sub_willingness        object
preferred_premium_plan         object
preferred_listening_content    object
fav_music_genre                object
music_time_slot                object
music_influential_mood         object
music_lis_frequency            object
music_expl_method              object
music_rec_rating                int64
pod_lis_frequency              object
fav_pod_genre                  object
preferred_pod_format           object
pod_host_preference            object
preferred_pod_duration         object
pod_variety_satisfaction       object
dtype: object

In [70]:
df.isnull().sum()

age                            0
gender                         0
spotify_usage_period           0
spotify_listening_device       0
spotify_subscription_plan      0
premium_sub_willingness        0
preferred_premium_plan         0
preferred_listening_content    0
fav_music_genre                0
music_time_slot                0
music_influential_mood         0
music_lis_frequency            0
music_expl_method              0
music_rec_rating               0
pod_lis_frequency              0
fav_pod_genre                  0
preferred_pod_format           0
pod_host_preference            0
preferred_pod_duration         0
pod_variety_satisfaction       0
dtype: int64


I saved the cleaned data to a csv, which you can find [here](https://github.com/anly501/dsan-5000-project-pschenfeld/blob/main/data/clean_data/spotify_user_behavior/spotify_user_behavior.csv).